/* .reg{
    background-color: aqua;
    display: flex;
    justify-content: center;
} */
/* .btn{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

} */